@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fontsource/dancing-script';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

h1 {
  font-family: 'Dancing Script', cursive;
}

